/* Movies Style */

.info_text{
  position: absolute;
  margin:auto;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
