/* Search bar Style */

.search_bar{
  height: 45px;
  width: 250px;
  background: rgb(45,47,52);
  border: none;
  border-radius: 7px 0 0 7px;
  padding: 5px 10px;
  caret-color: red;
  color: white;
  font-size: 1.1rem;
}

.search_bar:focus{
  outline-width: 0;
}

form{
  display: flex;
  justify-content: center;
}

button{
  background: rgb(45,47,52);
  border:none;
  border-radius: 0 7px 7px 0;
}

button:focus{
  outline-width: 0;
}

.search_icon {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

.search_icon path,
.search_icon polygon,
.search_icon rect {
  fill: white;
  transition: fill 0.2s ease-in-out;
}

button:hover .search_icon path,
.search_icon polygon,
.search_icon rect{
  fill: red;
}
