@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  background: rgb(22,25,29);
  font-family: 'Roboto', sans-serif;
}
#root{
  width: 100%;
  height: 100%;
}

/* Page Header Style */
.page_header{
  background: rgb(34,37,42);
  text-align: center;
  padding: 10px 0;
}

.img_logo{
  text-align: center;
  width: 250px;
  display:block;
  margin-left:auto;
  margin-right: auto;
}
